<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<H1>You are on the index page</H1>
<p>Hello </p>
<p>Click <a th:href="@{/home}">home</a> to see a greeting.</p>
<p>Click <a th:href="@{/registration}">registration</a> to add new user</p>
<p>Click <a th:href="@{/users}">users</a> to see all users</p>
<p>Click <a th:href="@{/remove}">remove</a> to remove user</p>
<p>Click <a th:href="@{/messages}">messages</a> to messages page</p>
<div>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="log out"/>
    </form>
</div>
</body>
</html>