<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<h1>Messages</h1>

<form action="#" th:action="@{/messages" th:object="${message}" method="post">
    <p>Please enter your message:
        <input type="text" th:field="*{msg}">
    </p>
    <p><input type="submit" value="Submit"></p>
</form>

<br>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>MESSAGE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message: ${messageList}">
        <td th:text="${message.id}"/>
        <td th:text="${message.author}"/>
        <td th:text="${message.msg}"/>
    </tr>
    </tbody>
</table>
<br>
<p>Click <a th:href="@{/index}">index</a> to go index</p>
</body>
</html>